.skill__container{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.skill__container > div{
    background: var(--color-bg-variant);
    width:35%;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.skill__container >div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.skill__container>div h3{
    text-align: center;
    margin-bottom: 2rem;
    color:var(--color-primary);
}
.skill__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
}
.skill__content__bc{
    display: inline-block;
}
.skill__details{
    display: flex;
    margin:auto;
    gap:1rem;
}
.skill__details-icons{
    margin-top: 6px;
    color: var(--color-primary);
}
/* MEDIA QUERIES(Medium Devices) */

@media screen and (max-width:1024px){
    .skill__container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .skill_container>div{
        width:80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .skill__content{
        padding: 1rem;
    }
}
/* MEDIA QUERIES(Medium Devices) */

@media screen and (max-width:600px){
    .skill__container{
        display: grid;
        gap:1rem;
    }
    .skill__container>div{
        width: 100%;
        padding: 2rem 1rem;
    }
}